appdirs==1.4.4
argcomplete==1.12.2
asgiref==3.4.1
azure-functions==1.6.0
backports.zoneinfo==0.2.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.1
cloudpickle==1.6.0
colorama==0.4.4
commitizen==2.13.0
configparser==5.0.2
crayons==0.4.0
dask==2021.7.0
decli==0.5.2
distlib==0.3.1
distributed==2021.7.0
dj-database-url==0.5.0
Django==4.0
django-heroku==0.3.1
djangorestframework==3.13.1
filelock==3.0.12
fsspec==2021.7.0
greenlet==1.1.0
HeapDict==1.0.1
idna==3.2
Jinja2==2.11.2
locket==0.2.1
MarkupSafe==1.1.1
msgpack==1.0.2
numpy==1.20.1
packaging==20.8
pandas==1.3.0
partd==1.2.0
prompt-toolkit==3.0.8
psutil==5.8.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycodestyle==2.7.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.3
PyYAML==5.3.1
questionary==1.9.0
requests==2.26.0
selenium==3.141.0
six==1.15.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.18
sqlparse==0.4.2
tblib==1.7.0
termcolor==1.1.0
tomlkit==0.7.0
toolz==0.11.1
tornado==6.1
tzdata==2021.5
urllib3==1.26.6
virtualenv==20.2.1
wcwidth==0.2.5
webdriver-manager==3.4.2
whitenoise==5.3.0
zict==2.0.0
